.main-body {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #f0f2f7;
	display: flex;
	// flex-direction: column;
	align-items: center;
	font-size: 1em;
	color: white;

	.titlebar {
		position: relative;
		width: 100%;
		height: 30px;
		padding-left: 20px;
		margin-top: 20px;
		align-items: center;
		font-weight: 700;
		font-size: 2em;
		color: white;
		box-sizing: border-box;
	}

	.content {
		// padding: 20px;
		display: flex;
		flex-direction: row;
		position: relative;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		background-color: #445397;
	}

	.files-list-wrapper {
		width: 100%;
		padding: 5px;
		box-sizing: border-box;
		// border-radius: 20px;
		background-color: #ffffff;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		height: 100%;
		background-color: rgb(49, 49, 49);
		.file-list-title-wrapper {
			height: auto;
			display: flex;
			flex: 0 0 50px;
			align-items: center;
			.current-dir {
				// margin-left: 6px;
				font-size: 0.7em;
			}
		}
		.files-panels{
			display: flex;
			flex: 1;
			height: calc(100% - 100px);
			.files-list {
				flex: 1;
				overflow-x: hidden;
				overflow-y: auto;
				.list-item {
					width: 100%;
					height: 30px;
					display: flex;
					align-items: center;
					box-sizing: border-box;
					user-select: none;
					margin-bottom: 3px;
					background-color: transparent;
					border: none;
					cursor: default;
					color: white;
					&:focus {
						outline: none;
						border-bottom: 2px solid #f0f2f7;
					}
				}
			}
		}
	}

	.drives-menu {
		position: relative;
		width: 50px;
		height: 100%;
		background-color: #ffffff;
		padding: 5px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		box-sizing: border-box;
		background-color: rgb(40, 40, 40);
		gap: 5px;

		.item {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 33px;
			background-color: #445397;
			border-radius: 2px;
			width: 100%;
			cursor: default;
			&:hover {
				background-color: #354176;
			}
		}
	}

	.file-menu{
		display: flex;
		gap: 10px;
		flex: 0 0 50px;
		.item {
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #445397;
			border-radius: 2px;
			padding: 5px;
			cursor: default;
			&:hover {
				background-color: #354176;
			}
		}
	}
}
